<div>
	<div class='footer text-muted'>
		<div class='container'>
			<div class='row'>
				<div class='col-md-12 col-sm-12 hidden-xs'>
					<table>
						<tr>
							<td class='footer-block not-last'>
								<img alt="Ui0813 66" class="telephone-image-size" src="{{ asset('./Picture/ui0813_66-72ee903a77275de7b02b28b3e65fc14e.png') }}" />
								<div class='info'>
									订购邮箱
								</div>
								<div class='info'>
									order@pantrysbest.com
								</div>
								<div class='info'>
									北京市朝阳区神路街39号10幢3层4段92-93
								</div>
							</td>
							<td class='footer-block not-last'>
								<div class='info'>
									官方微博 | 官方微信
								</div>
								<div class='info'>
									<a href='' target='_blank'><i class="fa fa-weibo fa-2x"></i></a>
									<img alt="Weixin" src="{{ asset('./Picture/weixin-b3b3cf5f9459b27c66749fd74316f293.jpg') }}" width="70px" />
								</div>
							</td>
							<td class='footer-block'>
								<img alt="Brand icons" id="brand-icons" src="{{ asset('./Picture/brand-icons-b7a42d80596318922d6f6fb848166249.png') }}" />
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div class='visible-xs' id='phone-number'>
				<a href='tel:4008314159'>
					<i class="fa fa-phone"></i>
					4008-3-14159
				</a>
			</div>
			<div id='icp'>
				Copyright 2010-2016 派悦坊，Ltd 京ICP备12046340
			</div>
		</div>
		<img alt="Christmas bottom" src="{{ asset('./Picture/christmas-bottom-adb5998daa7310e3fbbadf6abb368748.png') }}" style="width: 100%" />
	</div>
	<div aria-hidden='true' aria-labelledby='myModalLabel' class='modal fade' id='login-modal' role='dialog' tabindex='-1'>
		<div class='modal-dialog'>
			<div class='modal-content'></div>
		</div>
	</div>
</div>